{{define "subject"}}Verify Your CAS Account{{end}}
{{define "plainBody"}}
Hi,
Your One Time Password is {{.Otp}}.
Thanks,
The CAS Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,</p>
<p>Your One Time Password is {{.Otp}}.</p>
<p>Thanks,</p>
<p>The CAS Team</p>
</body>
</html>
{{end}}